body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.container {
	height: 100px;
	text-align: center;
}
.fourth > span {
	color: red;
}
a,a:visited, a:hover .fa-rocket {
	color:yellow;
}
a:hover,a .fa-rocket {
	color: red;
}
a:active {
	color: #a01111;
}
body {
	background-image: url('../img/bg.gif');
}