<!-- Main Sidebar -->
<div id="sidebar">
    <!-- Wrapper for scrolling functionality -->
    <div class="sidebar-scroll">
        <!-- Sidebar Content -->
        <div class="sidebar-content">
            <!-- Brand -->
            <a href="/" class="sidebar-brand">
                <i class="fa fa-bullhorn"></i><strong>Project</strong>-X
            </a>
            <!-- END Brand -->

            <!-- User Info -->
            <div class="sidebar-section sidebar-user clearfix">
                <div class="sidebar-user-avatar">
                    <a href="/profile/">
                        <img src="<%= session.userimage %>" alt="avatar">
                    </a>
                </div>
                <div class="sidebar-user-name"><%= session.username %></div>
                <div class="sidebar-user-links">
                    <a href="/profile/" data-toggle="tooltip" data-placement="bottom" title="Profiel"><i class="gi gi-user"></i></a>
                    <a href="page_ready_inbox.html" data-toggle="tooltip" data-placement="bottom" title="Berichten"><i class="gi gi-envelope"></i></a>
                    <a href="#modal-user-settings" data-toggle="modal" class="enable-tooltip" data-placement="bottom" title="Instellingen"><i class="gi gi-cogwheel"></i></a>
                    <a href="/logout/" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
                </div>
            </div>
            <!-- END User Info -->

            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li>
                    <a href="index.html" class=" active"><i class="gi gi-stopwatch sidebar-nav-icon"></i>Dashboard</a>
                </li>
                <li class="sidebar-header">
                    <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a><a href="javascript:void(0)" data-toggle="tooltip" title="Create the most amazing pages with the widget kit!"><i class="gi gi-lightbulb"></i></a></span>
                    <span class="sidebar-header-title">Widget Kit</span>
                </li>
                <li>
                    <a href="page_widgets_stats.html"><i class="gi gi-charts sidebar-nav-icon"></i>Statistics</a>
                </li>
                <li>
                    <a href="page_widgets_social.html"><i class="gi gi-share_alt sidebar-nav-icon"></i>Social</a>
                </li>
                <li>
                    <a href="page_widgets_media.html"><i class="gi gi-film sidebar-nav-icon"></i>Media</a>
                </li>
                <li class="sidebar-header">
                    <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
                    <span class="sidebar-header-title">Design Kit</span>
                </li>
                <li>
                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-certificate sidebar-nav-icon"></i>User Interface</a>
                    <ul>
                        <li>
                            <a href="page_ui_grid_blocks.html">Grid &amp; Blocks</a>
                        </li>
                        <li>
                            <a href="page_ui_typography.html">Typography</a>
                        </li>
                        <li>
                            <a href="page_ui_buttons_dropdowns.html">Buttons &amp; Dropdowns</a>
                        </li>
                        <li>
                            <a href="page_ui_navigation_more.html">Navigation &amp; More</a>
                        </li>
                        <li>
                            <a href="page_ui_horizontal_menu.html">Horizontal Menu</a>
                        </li>
                        <li>
                            <a href="page_ui_progress_loading.html">Progress &amp; Loading</a>
                        </li>
                        <li>
                            <a href="page_ui_color_themes.html">Color Themes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-notes_2 sidebar-nav-icon"></i>Forms</a>
                    <ul>
                        <li>
                            <a href="page_forms_general.html">General</a>
                        </li>
                        <li>
                            <a href="page_forms_components.html">Components</a>
                        </li>
                        <li>
                            <a href="page_forms_validation.html">Validation</a>
                        </li>
                        <li>
                            <a href="page_forms_wizard.html">Wizard</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-table sidebar-nav-icon"></i>Tables</a>
                    <ul>
                        <li>
                            <a href="page_tables_general.html">General</a>
                        </li>
                        <li>
                            <a href="page_tables_responsive.html">Responsive</a>
                        </li>
                        <li>
                            <a href="page_tables_datatables.html">Datatables</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-cup sidebar-nav-icon"></i>Icon Sets</a>
                    <ul>
                        <li>
                            <a href="page_icons_fontawesome.html">Font Awesome</a>
                        </li>
                        <li>
                            <a href="page_icons_glyphicons_pro.html">Glyphicons Pro</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i>Page Layouts</a>
                    <ul>
                        <li>
                            <a href="page_layout_static.html">Static</a>
                        </li>
                        <li>
                            <a href="page_layout_static_fixed_footer.html">Static + Fixed Footer</a>
                        </li>
                        <li>
                            <a href="page_layout_fixed_top.html">Fixed Top Header</a>
                        </li>
                        <li>
                            <a href="page_layout_fixed_top_footer.html">Fixed Top Header + Footer</a>
                        </li>
                        <li>
                            <a href="page_layout_fixed_bottom.html">Fixed Bottom Header</a>
                        </li>
                        <li>
                            <a href="page_layout_fixed_bottom_footer.html">Fixed Bottom Header + Footer</a>
                        </li>
                        <li>
                            <a href="page_layout_static_main_sidebar_partial.html">Partial Main Sidebar</a>
                        </li>
                        <li>
                            <a href="page_layout_static_main_sidebar_visible.html">Visible Main Sidebar</a>
                        </li>
                        <li>
                            <a href="page_layout_static_alternative_sidebar_partial.html">Partial Alternative Sidebar</a>
                        </li>
                        <li>
                            <a href="page_layout_static_alternative_sidebar_visible.html">Visible Alternative Sidebar</a>
                        </li>
                        <li>
                            <a href="page_layout_static_no_sidebars.html">No Sidebars</a>
                        </li>
                        <li>
                            <a href="page_layout_static_both_partial.html">Both Sidebars Partial</a>
                        </li>
                        <li>
                            <a href="page_layout_static_animated.html">Animated Sidebar Transitions</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-header">
                    <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
                    <span class="sidebar-header-title">Develop Kit</span>
                </li>
                <li>
                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="fa fa-wrench sidebar-nav-icon"></i>Components</a>
                    <ul>
                        <li>
                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>3 Level Menu</a>
                            <ul>
                                <li>
                                    <a href="#">Link 1</a>
                                </li>
                                <li>
                                    <a href="#">Link 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="page_comp_maps.html">Maps</a>
                        </li>
                        <li>
                            <a href="page_comp_charts.html">Charts</a>
                        </li>
                        <li>
                            <a href="page_comp_gallery.html">Gallery</a>
                        </li>
                        <li>
                            <a href="page_comp_carousel.html">Carousel</a>
                        </li>
                        <li>
                            <a href="page_comp_calendar.html">Calendar</a>
                        </li>
                        <li>
                            <a href="page_comp_animations.html">CSS3 Animations</a>
                        </li>
                        <li>
                            <a href="page_comp_syntax_highlighting.html">Syntax Highlighting</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-brush sidebar-nav-icon"></i>Ready Pages</a>
                    <ul>
                        <li>
                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Errors</a>
                            <ul>
                                <li>
                                    <a href="page_ready_400.html">400</a>
                                </li>
                                <li>
                                    <a href="page_ready_401.html">401</a>
                                </li>
                                <li>
                                    <a href="page_ready_403.html">403</a>
                                </li>
                                <li>
                                    <a href="page_ready_404.html">404</a>
                                </li>
                                <li>
                                    <a href="page_ready_500.html">500</a>
                                </li>
                                <li>
                                    <a href="page_ready_503.html">503</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Get Started</a>
                            <ul>
                                <li>
                                    <a href="page_ready_blank.html">Blank</a>
                                </li>
                                <li>
                                    <a href="page_ready_blank_alt.html">Blank Alternative</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="page_ready_search_results.html">Search Results (4)</a>
                        </li>
                        <li>
                            <a href="page_ready_article.html">Article</a>
                        </li>
                        <li>
                            <a href="/profile/">User Profile</a>
                        </li>
                        <li>
                            <a href="page_ready_contacts.html">Contacts</a>
                        </li>
                        <li>
                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>e-Learning</a>
                            <ul>
                                <li>
                                    <a href="page_ready_elearning_courses.html">Courses</a>
                                </li>
                                <li>
                                    <a href="page_ready_elearning_course_lessons.html">Course - Lessons</a>
                                </li>
                                <li>
                                    <a href="page_ready_elearning_course_lesson.html">Course - Lesson Page</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="sidebar-nav-submenu"><i class="fa fa-angle-left sidebar-nav-indicator"></i>Message Center</a>
                            <ul>
                                <li>
                                    <a href="page_ready_inbox.html">Inbox</a>
                                </li>
                                <li>
                                    <a href="page_ready_inbox_compose.html">Compose Message</a>
                                </li>
                                <li>
                                    <a href="page_ready_inbox_message.html">View Message</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="page_ready_timeline.html">Timeline</a>
                        </li>
                        <li>
                            <a href="page_ready_faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="page_ready_pricing_tables.html">Pricing Tables</a>
                        </li>
                        <li>
                            <a href="page_ready_invoice.html">Invoice</a>
                        </li>
                        <li>
                            <a href="page_ready_forum.html">Forum (3)</a>
                        </li>
                        <li>
                            <a href="page_ready_lock_screen.html">Lock Screen</a>
                        </li>
                        <li>
                            <a href="login.html">Login</a>
                        </li>
                        <li>
                            <a href="login.html#register">Register</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END Sidebar Navigation -->

            <!-- Sidebar Notifications -->
            <div class="sidebar-header">
                <span class="sidebar-header-options clearfix">
                    <a href="javascript:void(0)" data-toggle="tooltip" title="Refresh"><i class="gi gi-refresh"></i></a>
                </span>
                <span class="sidebar-header-title">Activity</span>
            </div>
            <div class="sidebar-section">
                <div class="alert alert-success alert-alt">
                    <small>5 min ago</small><br>
                    <i class="fa fa-thumbs-up fa-fw"></i> You had a new sale ($10)
                </div>
                <div class="alert alert-info alert-alt">
                    <small>10 min ago</small><br>
                    <i class="fa fa-arrow-up fa-fw"></i> Upgraded to Pro plan
                </div>
                <div class="alert alert-warning alert-alt">
                    <small>3 hours ago</small><br>
                    <i class="fa fa-exclamation fa-fw"></i> Running low on space<br><strong>18GB in use</strong> 2GB left
                </div>
                <div class="alert alert-danger alert-alt">
                    <small>Yesterday</small><br>
                    <i class="fa fa-bug fa-fw"></i> <a href="javascript:void(0)"><strong>New bug submitted</strong></a>
                </div>
            </div>
            <!-- END Sidebar Notifications -->
        </div>
        <!-- END Sidebar Content -->
    </div>
    <!-- END Wrapper for scrolling functionality -->
</div>
<!-- END Main Sidebar -->

<!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
<div id="modal-user-settings" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h2 class="modal-title"><i class="fa fa-pencil"></i> Instellingen</h2>
            </div>
            <!-- END Modal Header -->

            <!-- Modal Body -->
            <div class="modal-body">
                <form action="index.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
                    <fieldset>
                        <legend>Belangrijke info</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Gebruikersnaam</label>
                            <div class="col-md-8">
                                <p class="form-control-static"><%= session.username %></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user-settings-email">Email</label>
                            <div class="col-md-8">
                                <input type="email" id="user-settings-email" name="user-settings-email" class="form-control" value="<%= session.useremail %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user-settings-notifications">Email Berichten</label>
                            <div class="col-md-8">
                                <label class="switch switch-primary">
                                    <input type="checkbox" id="user-settings-notifications" name="user-settings-notifications" value="1" checked>
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Wachtwoord Veranderen?</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user-settings-password">Nieuw wachtwoord</label>
                            <div class="col-md-8">
                                <input type="password" id="user-settings-password" name="user-settings-password" class="form-control" placeholder="Wel zo complex mogelijk he ;)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="user-settings-repassword">Bevestiging</label>
                            <div class="col-md-8">
                                <input type="password" id="user-settings-repassword" name="user-settings-repassword" class="form-control" placeholder="..en nog een keer">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Sluit</button>
                            <button type="submit" class="btn btn-sm btn-primary">Opslaan</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END Modal Body -->
        </div>
    </div>
</div>
<!-- END User Settings -->